<form action="/random/results">
  <label for="min">Minimum</label>
  <input type="text" name="min" id="min" placeholder="Eg. 1.5">
  
  <label for="max">Maximum</label>
  <input type="text" name="max" id="max" placeholder="Eg. 4.5">

  <button type="submit">Pick random number</button>
</form>
