<form action="/payment/results">
  <label for="apr">APR</label>
  <input type="text" name="apr" id="apr" placeholder="Eg. 5.42">
  
  <label for="years">Number of years:</label>
  <input type="text" name="years" id="years" placeholder="How many years to repay?>

  <label for="principal">Principal:</label>
  <input type="text" name="principal" id="principal" placeholder="How much principal?">

  <button type="submit">Calculate Payment</button>
</form>
